.card{
    border-radius: 40px;
}
.animated-icon{
    width: 70px;
    height: 70px;
    align-self: center;
}
.text{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.line-after-our-activity{
    width: 500px;
    margin-left: 320px;
    color:  rgb(47, 181, 235);;
}
.vide{
    width: 500px;
    margin-top: 20px;
}
.taxt-paragraph{
     margin-left: -40px;
}
.button{
    background-color: rgb(47, 181, 235);
    border-radius: 30px;
    border: 0cap;
    margin-left: 50px;
}